
<div class="container">
	<div class="row">
		<div class="header">Port Sampling Outing Header</div>
		<br />
	</div>
	<div class='row' style="margin-left: 8.3%;">
		<div class='row'>
			<div class="subheader subheader-border">Vessel Information</div>
		</div>
		<div class='row subheader-border'>
			<div class='col-sm-3' style="margin-top: 5%;">
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Vessel</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Tonnage</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Gear</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Country</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Port</label>
					</div>
				</div>

				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Data Source</label>
					</div>

				</div>
			</div>
			<div class='col-sm-3' style="margin-top: 5%;">
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Catogory</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">NAFO Div</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Unit Area</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Comments</label>
					</div>
				</div>
			</div>
			<div class='col-sm-3' style="margin-top: 5%;margin-left:20%;">
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Date</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Quarter</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Trip</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Inshore</label>
					</div>
				</div>
				<div class='row'>
					<div class="form-group">
						<label class="control-label custom-label">Summary</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>